.carre-contenu {
    border-right: 1px solid #8e86b5;
    border-bottom: 1px solid #8e86b5;
    padding: 50px;
    margin: auto;
    margin-bottom: 80px;
    width: 50%;
}

.a-propos-main {
    margin:auto;
}

.carre-contenu h2 {
    margin-top: 30px;
}

.carre-contenu ul {
    margin-top: 30px;
}

.carre-contenu + div {
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: white;
    text-align: center;
}

td, th {
    border: 1px solid #A5B4FC;
    padding: 15px;
}

td {
    padding: 80px;
}

h2 {
    margin-bottom: 80px;
}

h1,
h2 {
    text-align: center;
}
@media screen and (max-width:996px) {
    .section-tarifs {
        display: none;
    }
}